################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AttuneWWPresentation/v16
/AttuneWWPresentation/bin/Debug
/AttuneWWPresentation/obj/Debug
/.vs
/AttuneWWPresentation/obj/Release
